@charset "utf-8";
// ============================
// 共通パーツ読み込み
// ============================
@import "_core";

// ============================
// ベーススタイル
// 要素自体のスタイルを設定
// 汎用性が無くなるのであまり設定しないこと
// ============================

//Web Font
@font-face {
	font-family: 'NotoSansLight';
	font-style: normal;
	font-weight: 300;
	src:local('NotoSansJP Light'),
		url('../../fonts/notosanscjkjp-light.woff') format('woff'),
		url('../../fonts/notosanscjkjp-light.woff2') format('woff2')
}
@font-face {
	font-family: 'NotoSansMedium';
	font-style: normal;
	font-weight: 500;
	src:local('NotoSansJP Medium'),
		url('../../fonts/notosanscjkjp-medium.woff') format('woff'),
		url('../../fonts/notosanscjkjp-medium.woff2') format('woff2')
}
@font-face {
	font-family: 'QuickSandBold';
	font-style: bold;
	font-weight: 700;
	src:local('QuickSand Bold'),
		url('../../fonts/quicksand-bold-webfont.ttf') format('truetype'),
		url('../../fonts/quicksand-bold-webfont.woff') format('woff'),
		url('../../fonts/quicksand-bold-webfont.woff2') format('woff2')
}

body {
	font-family:'Yu Gothic', '游ゴシック体', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', 'Lucida Grande', 'sans-serif';
	word-wrap : break-word;
	overflow-wrap : break-word;
	-webkit-overflow-scrolling: touch;
	color: $fc-base;
	line-height: 1.5;
}

p {
}

a {
	@include transition(all 0.5s ease);
	&:link {
	}
	&:visited {
	}
	&:hover,
	&:active,&:focus {
		text-decoration: none;
	}
}
h1, h2, h3, h4, h5, h6 {
}
img {
	width: 100%;
}
