@charset "utf-8";
// ============================
// 共通パーツ読み込み
// ============================
@import "_core";

//================================
// 汎用クラススイッチ
//================================
//天地マージン
// .mt10, mt20...のようなクラスが生成されます
$margintbGeneralStyle: false;

//左右マージン
// .ml10, ml20...のようなクラスが生成されます
$marginlrGeneralStyle: false;

//フロートリスト
// フロート用のリストが生成されます
$floatListStyle: true;

//================================
// 汎用クラス中身
//================================
//天地マージン
@if $margintbGeneralStyle {
	@for $value from 1 through 2 {
		.mt#{$value * 10} {
			margin-top:10px *$value !important;
		}
		.mb#{$value * 10} {
			margin-bottom:10px *$value !important;
		}
	}
}

//左右マージン
@if $marginlrGeneralStyle {
	@for $value from 1 through 2 {
		.ml#{$value * 10} {
			margin-left:10px *$value !important;
		}
		.mr#{$value * 10} {
			margin-right:10px *$value !important;
		}
	}
}

//フロートリスト
@if $floatListStyle {
	.float-list {
		@extend %extend-cf;
		li {
			float:left;
		}
	}
}