@charset "utf-8";
// ============================
// 共通パーツ
// ============================
@import "_core";

/*==============================
共通
==============================*/
h2 {
	font-size: $fs-xxlarge;
	@include ff-NotoSansLight;
	line-height: 1.3;
}
.headline-s {
	font-size: $fs-xlarge;
}
.headline-str {
	font-size: $fs-xxxlarge;
	@include ff-NotoSansMedium;
}
.headline-bld {
	font-size: $fs-xxlarge;
	@include ff-NotoSansMedium;
}
.fc-companyColor {
	color: $companyColor;
}
a.inquiry {
	@include ff-NotoSansMedium;
	font-size: 1.75rem;
	line-height: 1;
	height: 100px;
	padding-top: 35px;
	padding-right: 35px;
	color: $fc-reverse;
	display: block;
	text-align: center;
	@include background(linear-gradient(#49b844, #45af41));
	@include box-shadow($box-shadow:5px 5px 0px 0px rgba(61,154,57,1));
	@include border-radius($radius:4px);
	span {
		position: relative;
			&:after {
				content: " ";
				background:url(../../img/toiawase-arrow.png) center top no-repeat;
				background-size: cover;
				width: 30px;
				height: 30px;
				display: block;
				position: absolute;
				top: 6px;
				right: -35px;
			}
	}
	&:hover {
		@include background(linear-gradient(#d14b23, #bf4520));
		@include box-shadow($box-shadow:5px 5px 0px 0px rgba(159,62,29,1));
		@include transition(all 0.1s ease);
	}
}

@media (max-width: 1200px) {
	a.inquiry {
		font-size: $fs-xlarge;
		height: 70px;
		padding-top: 22px;
		padding-right: 20px;
		span {
				&:after {
					width: 22px;
					height: 22px;
					top: 8px;
					right: -25px;
				}
		}
	}
}
@media (max-width: 992px) {
	a.inquiry {
		font-size: $fs-medium;
		height: 70px;
		padding-top: 25px;
		padding-right: 20px;
		span {
				&:after {
					width: 16px;
					height: 16px;
					top: 6px;
					right: -25px;
				}
		}
	}
}
@media (max-width: 768px) {
	h2 {
		font-size: $fs-xlarge;
	}
	.headline-s {
		font-size: $fs-large;
	}
	.headline-str {
		font-size: $fs-xxlarge;
	}
	.headline-bld {
		font-size: $fs-xlarge;
	}
}
@media (max-width: 480px) {
	h2 {
		font-size: $fs-large;
		br {
			display: none;
		}
	}
	.headline-s {
		font-size: $fs-medium;
	}
	.headline-str {
		font-size: $fs-xlarge;
	}
	.headline-bld {
		font-size: $fs-large;
	}
	a.inquiry {
		font-size: $fs-medium;
		height: 60px;
		padding-top: 22px;
		padding-right: 20px;
		span {
				&:after {
					width: 20px;
					height: 20px;
					top: 0;
					right: -25px;
				}
		}
	}
}

/*==============================
header
==============================*/
header {
	padding: 30px 0;
	width: 100%;
	background:#f6f6f6;
	background-image: url(../../img/main-image.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	line-height: 1;
}
.l-header {
	@include ff-NotoSansLight;
	ul.title-text {
		color: $companyColor;
		margin-bottom: 50px;
		li {
			margin-bottom: 10px;
		}
		.logo {
			width: 37%
		}
		.lead-copy {
			font-size: $fs-large;
		}
		h1 {
			font-size: 4.375rem;
			display: table;
			background: url(../../img/camera.png) center top no-repeat;
			background-size: 96px 86px;
			padding-top: 16px;
			span {
				display: table-cell;
			}
			.main-copy01 {
				font-size: 2.125rem;
				color: $fc-reverse;
				width: 134px;
				vertical-align:middle;
				padding: 18px 0 0 38px;
			}
		}
		.main-copy02 {
			display: block;
			font-size: 2.625rem;
			letter-spacing: 0.1em;
		}
	}
	ul.main-bottom {
		width: 100%;
		li {
		}
		a.inquiry {
			margin: 80px 0 0 30px;
		}
	}
}

//media query start
@media (max-width: 1200px) {
	header {
		.container {
			width: 90%;
		}
	}
	.l-header {
		ul.main-bottom {
			a.inquiry {
				margin: 45px 0 0 20px;
			}
		}
	}
}
@media (max-width: 992px) {
	header {
		background-size: cover;
		.container {
			width: 96%;
		}
	}
	.l-header {
		ul.main-bottom {
			a.inquiry {
				margin: 30px 0 0 20px;
			}
		}
	}
}
@media (max-width: 768px) {
	header {
		padding: 10px 0 20px;
		background: #f2f4f6 url(../../img/main-image_sp.jpg)  center bottom no-repeat;
		background-size: cover;
	}
	.l-header {
		ul.title-text {
			margin-bottom: 10px;
			li {
				margin-bottom: 10px;
			}
			.logo {
				height: 50px;
				width: auto;
				text-align: center;
				img {
					width: auto;
					height: 50px;
				}
			}
			.lead-copy {
				font-size: $fs-small;
				text-align: center;
			}
			h1 {
				font-size: 2.8rem;
				background-size: 48px 43px;
				padding-top: 0;
				text-align: center;
				width: 60%;
				margin:0 auto;
				.main-copy01 {
					font-size: 1.3rem;
					width: 58px;
					padding: 14px 7px 0 0;
				}
			}
			.main-copy02 {
				font-size: 1.7rem;
				text-align: center;
			}
		}
		ul.main-bottom {
			width: auto;
			li {
				text-align: center;
				p.fukidashi {
					margin-bottom: 280px;
					img {
						width: 60%;
					}
				}
			}
			a.inquiry {
				margin: 0;
			}
		}
	}

}
@media (max-width: 480px) {
	.l-header {
		ul.title-text {
			.lead-copy {
				font-size: $fs-xsmall;
			}
			h1 {
				width: 90%;
			}
		}
		ul.main-bottom {
			li {
				p.fukidashi {
					margin-bottom: 200px;
					img {
						width: 80%;
					}
				}
			}
		}
	}
}//media query end



/*==============================
introduction
==============================*/
.introduction {
	@include background(linear-gradient(#eeeeee, #ffffff));
	padding: 30px 0 40px;
	h2 {
		color: $companyColor;
		font-size: 2.25rem;
		text-align: center;
		height: 152px;
		padding-top: 32px;
		margin: 0 auto;
		@include ff-NotoSansMedium;
		background:url(../../img/nayami.png) center top no-repeat;
		background-size: contain;
	}
	.container {
		position: relative;
		h3 {
			position: absolute;
			top: 300px;
			width: 96.5%;
			z-index: 10;
			div {
				@include ff-NotoSansLight;
				font-size: $fs-xxxlarge;
				color: $fc-reverse;
				text-align: center;
				background: $companyColor;
				@include border-radius;
				padding: 30px 0;
				position: relative;
				&:after {
					content:" ";
					background:url(../../img/arrow01.png) center top no-repeat;
					background-size: contain;
					display: block;
					margin-top: 10px;
					position: absolute;
					bottom: -19px;
					height: 20px;
					width: 100%;
				}
			}
		}
	}
	.nayami {
		@include ff-NotoSansLight;
		text-align: center;
		line-height: 1;
		dl {
			padding:20px 20px 0 0;
			height: 240px;
			position: relative;
			dt {
				@include ff-NotoSansMedium;
				color: $fc-reverse;
				font-size: $fs-medium;
				width: 46%;
				margin: 0 auto 10px;
				padding: 5px 0;
			}
			.nayami01 {
				font-size: $fs-xxxlarge;
				text-align: center;
				margin-bottom: 5px;
			}
			.nayami02 {
				font-size: $fs-xxlarge;
				line-height: 1.2;
			}
			.nayami03 {
				font-size: $fs-large;
				position: absolute;
				bottom: 30px;
				width: 100%;
			}
		}
		.kyoumi {
			background:url(../../img/kyoumi.png) center top no-repeat;
			background-size: contain;
			dt {
				background:$brandColorGreen;
			}
			.nayami01 {
				color: $brandColorGreen;
			}
		}
		.kanshin {
			background:url(../../img/kanshin.png) center top no-repeat;
			background-size: contain;
			dt {
				background:$brandColorBlue;
			}
			.nayami01 {
				color: $brandColorBlue;
			}
		}
		.koubai {
			background:url(../../img/koubai.png) center top no-repeat;
			background-size: contain;
			dt {
				background:$brandColorNavy;
			}
			.nayami01 {
				color: $brandColorNavy;
				margin-top: 20px;
			}
		}
		.taiou {
			background:url(../../img/taiou.png) center top no-repeat;
			background-size: contain;
			dt {
				background:$brandColorPurple;
			}
			.nayami01 {
				color: $brandColorPurple;
			}
		}
	}
	.kaiketsu {
		dl {
			width: 90%;
			margin:0 auto;
			background-position: center top;
			background-size: 23px auto;
			background-repeat: no-repeat;
			padding-top: 250px;
			dt {
				font-size: 1.25rem;
				@include ff-NotoSansMedium;
				color: $fc-reverse;
				text-align: center;
				width: 100%;
				display: table;
				vertical-align: middle;
				margin-bottom: 10px;
				@include border-radius;
				p {
					display: table-cell;
					height: 80px;
					vertical-align: middle;
				}
			}
			dd {
				font-size: $fs-medium;
				font-weight: 700;
				text-align: center;
				width: 100%;
				display: table;
				@include border-radius;
				p {
					display: table-cell;
					height: 80px;
					vertical-align: middle;
				}
			}
		}
		.sokyu {
			background-image:url(../../img/arrow_green.png);
			dt {
				background: $brandColorGreen;
			}
			dd {
				background: #d8ebd7;
			}
		}
		.conver {
			background-image:url(../../img/arrow_blue.png);
			dt {
				background: $brandColorBlue;
			}
			dd {
				background: #d5e9eb;
			}
		}
		.ryunyu {
			background-image:url(../../img/arrow_navy.png);
			dt {
				background: $brandColorNavy;
			}
			dd {
				background: #cfddea;
			}
		}
		.commu {
			background-image:url(../../img/arrow_purple.png);
			dt {
				background: $brandColorPurple;
			}
			dd {
				background: #dfd6e6;
			}
		}
	}
}

//media query start
@media (max-width: 1200px) {
	.introduction {
		.container {
			h3 {
				top: 250px;
			}
		}
		.nayami {
			dl {
				height: 200px;
				dt {
					font-size: $fs-small;
				}
				.nayami01 {
					font-size: $fs-xxlarge;
				}
				.nayami02 {
					font-size: $fs-xlarge;
				}
				.nayami03 {
					font-size: $fs-medium;
				}
			}
		}
		.kaiketsu {
			dl {
				dt {
					font-size: $fs-large;
				}
				dd {
					font-size: $fs-regular;
				}
			}
		}
	}
}
@media (max-width: 992px) {
	.introduction {
		.container{
			width: 96%;
			h3 {
				top:230px;
			}
		}
		.nayami {
			dl {
				height: 180px;
				dt {
					font-size: $fs-small;
				}
				.nayami01 {
					font-size: $fs-xxlarge;
				}
				.nayami02 {
					font-size: $fs-medium;
				}
				.nayami03 {
					font-size: $fs-regular;
				}
			}
		}
		.kaiketsu {
			dl {
				dt {
					font-size: $fs-regular;
				}
				dd {
					font-size: $fs-small;
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.introduction {
		ul {
			li {
				margin-bottom: 30px;
			}
		}
		.container{
			width: 96%;
			h3 {
				top:420px;
				div {
					font-size: $fs-large;
					padding: 10px 0 15px;
				}
			}
		}
		.nayami {
			width: 90%;
			margin: 0 auto;
			li {
				margin-bottom: 30px;
			}
			dl {
				padding:10px 10px 20px 0;
				height: 180px;
				width: 100%;
				dt {
					font-size: $fs-xsmall;
					width: 40%;
					margin: 0 auto 10px;
				}
				.nayami01 {
					font-size: $fs-xxlarge;
					margin-bottom: 10px;
				}
				.nayami02 {
					font-size: $fs-large;
				}
				.nayami03 {
					font-size: $fs-small;
					position:relative;
					bottom: auto;
					width: 100%;
					margin-top: 10px;
				}

			}
		}
		.kaiketsu {
			padding: 80px 0 0;
			dl {
				width: 90%;
				margin:0 auto;
				padding-top: 10px;
				dt {
					font-size: $fs-regular;
					padding: 4px;
				}
				dd {
					font-size: $fs-small;
					padding: 4px;
				}
			}
			.sokyu {
				background-image:none;
			}
			.conver {
				background-image:none;
			}
			.ryunyu {
				background-image:none;
			}
			.commu {
				background-image:none;
			}
		}
	}
}
@media (max-width: 480px) {
	.introduction {
		ul {
			li {
				margin-bottom: 30px;
			}
		}
		h2 {
			font-size: $fs-large;
			height: 100px;
			padding-top: 20px;
			background-size: 90%;
		}
		.container {
			width: 100%;
			h3 {
				top: 260px;
				width: 90%;
				div {
					font-size: $fs-xlarge;
					padding: 10px 0 15px;
					&:after {
						content:" ";
						background:url(../../img/arrow01.png) center top no-repeat;
						background-size: contain;
						display: block;
						margin-top: 10px;
						position: absolute;
						bottom: -19px;
						height: 20px;
						width: 100%;
					}
				}
			}
		}
		.nayami {
			width: 100%;
			dl {
				padding:0px 10px 20px 0;
				height: 100px;
				width: 100%;
				dt {
					font-size: $fs-xsmall;
					width: 60%;
					margin: 0 auto 5px;
				}
				.nayami01 {
					font-size: $fs-large;
					margin-bottom: 3px;
				}
				.nayami02 {
					font-size: $fs-small;
				}
				.nayami03 {
					font-size: $fs-small;
					position:relative;
					bottom: auto;
					width: 100%;
					margin-top: 5px;
				}
			}
			.koubai {
				.nayami01 {
					margin-top: 10px;
				}
			}
		}
		.kaiketsu {
			padding: 80px 0 0;
			dl {
				width: 90%;
				margin:0 auto;
				padding-top: 10px;
				dt {
					font-size: $fs-regular;
					padding: 4px;
				}
				dd {
					font-size: $fs-small;
					padding: 4px;
				}
			}
		}
	}
}//media query end



/*==============================
introduction
==============================*/
.introduction02 {
	background: #d5e9eb url(../../img/arrow02.png) center top no-repeat;
	background-size: 18%;
	padding: 5% 0 3%;
	h2 {
		text-align: center;
		margin-bottom: 40px;
	}
	dl {
		dt {
			@include ff-NotoSansMedium;
			color: $fc-reverse;
			font-size: $fs-xlarge;
			text-align: center;
			background: $brandColorNavy;
			@include border-radius;
			padding: 15px 0;
			margin-bottom: 20px;
		}
		dd {
			margin-bottom: 20px;
			font-size: $fs-regular;
		}
	}
}

//media query start
@media (max-width: 1200px) {
}
@media (min-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 480px) {
.introduction02 {
	h2 {
		margin-bottom: 20px;
	}
	dl {
		dt {
			font-size: $fs-large;
		}
		dd {
			margin-bottom: 10px;
			font-size: $fs-regular;
		}
	}
}
}//media query end



/*==============================
toiawase
==============================*/
.toiawase {
	background: url(../../img/toiawase_bg.jpg) center top no-repeat;
	padding: 6% 0 3%;
	.logo {
		width: 410px;
		margin: 0 auto 20px;
	}
	h2 {
		text-align: center;
		background: url(../../img/slash.png) center top no-repeat;
	}
	a.inquiry {
		margin: 30px auto;
		width: 50%;
	}
}
.toiawase.toiawase01 {
	position: relative;
	&:after {
		content: " ";
		width: 100%;
		height: 70px;
		background: url(../../img/arrow03.png) center top no-repeat;
		background-size: contain;
		position: absolute;
		top: 0;
	}
}
.toiawase.toiawase02 {
	position: relative;
	&:after {
		content: " ";
		width: 100%;
		height: 70px;
		background: url(../../img/arrow02.png) center top no-repeat;
		background-size: contain;
		position: absolute;
		top: 0;
	}
}

//media query start
@media (max-width: 1200px) {
	.toiawase.toiawase01 {
		&:after {
			height: 40px;
		}
	}
}
@media (min-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
	.toiawase {
		padding: 8% 0 3%;
		h2 {
			background: none;
		}
	}
	.toiawase.toiawase01, .toiawase.toiawase02 {
		&:after {
			height: 30px;
		}
	}
}
@media (max-width: 480px) {
	.toiawase {
		padding: 12% 0 3%;
		.logo {
			width: 80%
		}
		a.inquiry {
			width: 100%;
		}
	}
}//media query end



/*==============================
merit
==============================*/
.merit {
	text-align: center;
	padding: 5% 0 0;
	h2 {
		font-size: $fs-xxxlarge;
		color: $brandColorBlue;
		margin-bottom: 50px;
	}
	.merit-img {
		width: 62.6%;
		margin: 0 auto 50px;
	}
	.merit-txt {
		font-size: $fs-xlarge;
		@include ff-NotoSansLight;
	}
	h3 {
		font-size: $fs-xxlarge;
		line-height: 1.2;
		color: $fc-reverse;
		background: $brandColorOrange;
		width: 140px;
		height: 140px;
		@include border-radius($radius:140px);
		padding: 35px 0 0;
		margin: 30px auto 0;
	}
}

//media query start
@media (max-width: 1200px) {
}
@media (min-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
	.merit {
		h2 {
			font-size: $fs-xxlarge;
		}
		.merit-txt {
			font-size: $fs-large;
		}
	}
}
@media (max-width: 480px) {
	.merit {
		h2 {
			font-size: $fs-xlarge;
		}
		.merit-img {
			width: 80%;
			margin: 0 auto 30px;
		}
		.merit-txt {
			font-size: $fs-medium;
			text-align: left;
			br {
				display: none;
			}
		}
		h3 {
			font-size: $fs-xlarge;
			width: 100px;
			height: 100px;
			@include border-radius($radius:100px);
			padding: 20px 0 0;
		}
	}
}//media query end



/*==============================
haikei
==============================*/
.haikei {
	background: $brandColorOrange url(../../img/arrow02.png) center top no-repeat;
	background-size: 18%;
	padding: 5% 0 3%;
	h2 {
		text-align: center;
		color: $fc-reverse;
		margin-bottom: 30px;
	}
	ul {
		background: $fc-reverse;
		padding: 2.5%;
	}
	dl {
		dt {
			font-size: $fs-xlarge;
			@include ff-NotoSansMedium;
			margin-bottom: 15px;
			padding: 20px 0 20px 94px;
			height: 80px;
		}
		dd {
			font-size: $fs-regular;
			margin-bottom: 20px;
		}
	}
	.zouka {
		dt {
			background: url(../../img/haikei_ico01.png) left center no-repeat;
			background-size: contain;
		}
	}
	.kouka {
		dt {
			background: url(../../img/haikei_ico02.png) left center no-repeat;
			background-size: contain;
		}
	}
}

//media query start
@media (max-width: 1200px) {
}
@media (min-width: 992px) {
}
@media (max-width: 992px) {
	.haikei {
		dl {
			dt {
				font-size: $fs-large;
				height: 80px;
				padding: 30px 0 20px 94px;
			}
		}
	}
}
@media (max-width: 768px) {
}
@media (max-width: 480px) {
	.haikei {
		dl {
			padding-top: 20px;
			dt {
				font-size: $fs-medium;
				height: 50px;
				padding: 15px 0 20px 60px;
			}
		}
	}
}//media query end



/*==============================
chance
==============================*/
.chance {
	background: url(../../img/chance_bg.jpg) no-repeat;
	background-position: right top;
	padding: 6% 0 2%;
	position: relative;
	&:after {
		content: " ";
		width: 100%;
		height: 70px;
		background: url(../../img/arrow04.png) center top no-repeat;
		background-size: contain;
		position: absolute;
		top: 0;
	}
	h2 {
		background: url(../../img/chance_ico.png) left center no-repeat;
		background-size: contain;
		padding: 40px 0 40px 180px;
			br {
				display: none;
			}
	}
	.chance-txt {
		background: url(../../img/chance_fukidashi.png) center top no-repeat;
		background-size: contain;
		height: 157px;
		@include ff-NotoSansMedium;
		font-size: $fs-xlarge;
		text-align: center;
		padding-top: 40px;
		margin: 0 auto;
	}
	h3 {
		font-size: $fs-xxlarge;
		line-height: 1.2;
		color: $fc-reverse;
		background: $companyColor;
		width: 140px;
		height: 140px;
		@include border-radius($radius:140px);
		padding: 35px 0 0;
		margin: 30px auto 0;
		text-align: center;
	}
}

//media query start
@media (max-width: 1200px) {
	.chance {
		background-position: 60% top;
		&:after {
			height: 40px;
		}
		h2 {
			padding: 10px 0 15px 130px;
			width: 80%;
			margin:0 auto 20px;
			br {
				display: inline;
			}
		}
	}
}
@media (min-width: 992px) {
}
@media (max-width: 992px) {
	.chance {
		h2 {
			width: 100%;
		}
	}
}
@media (max-width: 768px) {
	.chance {
		background-position: 64% top;
		h2 {
			width: 88%;
		}
		&:after {
			height: 30px;
		}
	}
}
@media (max-width: 480px) {
	.chance {
		background-position: 68% top;
		padding: 12% 0 2%;
		h2 {
			width: 100%;
			padding: 0 0 0 80px;
		}
		&:after {
			height: 30px;
		}
		.chance-txt {
			background-size: contain;
			height: 100px;
			font-size: $fs-large;
			padding-top: 24px;
		}
		h3 {
			font-size: $fs-xlarge;
			background: $companyColor;
			width: 100px;
			height: 100px;
			@include border-radius($radius:100px);
			padding: 20px 0 0;
		}
	}
}//media query end



/*==============================
kadai
==============================*/
.kadai {
	padding: 0 0 3%;
	h2 {
		background: $companyColor url(../../img/arrow02.png) center top no-repeat;
		background-size: 8%;
		text-align: center;
		color: $fc-reverse;
		padding: 3% 0 3%;
		margin-bottom: 30px;
	}
	h3 {
		background: #f7e3d4;
		@include ff-NotoSansMedium;
		font-size: $fs-xlarge;
		text-align: center;
		@include border-radius;
		padding: 30px 0;
		margin-bottom: 30px;
	}
	dl {
		padding: 250px 20px 20px;
		@include border-radius;
		background-position: center 20px;
		background-repeat: no-repeat;
		background-size: 70%;	
		dt {
			@include ff-NotoSansMedium;
			font-size: $fs-medium;
			text-align: center;
		}
		dd {
			font-size: $fs-regular;
		}
		.kadai-tit {
			padding-bottom: 10px;
			margin-bottom: 10px;
			border-bottom: solid 1px $brandColorYellow;
			span {
				background: $brandColorYellow;
				padding: 3px 20px;
				@include border-radius;
			}
		}
		.kadai-txt {
			height: 110px;
		}
		.service-tit {
			padding-bottom: 10px;
			margin-bottom: 10px;
			border-bottom: solid 1px $companyColor;
			color: $fc-reverse;
			span {
				background: url(../../img/kadai_ico.png) center top no-repeat;
				background-size: contain;
				padding: 28px 22px 10px;
			}
		}
		.service-txt {
			height: 130px;
		}
	}
	.kyoumi {
		background-color: #e6f2e5;
		background-image: url(../../img/kadai_img01.png);
	}
	.kanshin {
		background-color: #e2eef0;
		background-image: url(../../img/kadai_img02.png);
	}
	.koubai {
		background-color: #dee6ef;
		background-image: url(../../img/kadai_img03.png);
	}
	.taiou {
		background-color: #e8e3ed;
		background-image: url(../../img/kadai_img04.png);
	}
	.example {
		background: url(../../img/2min_bg.png) center top no-repeat;
		background-size: cover;
		padding-top: 90px;
		margin-bottom: 90px;
		.example-txt01 {
			font-size: $fs-xlarge;
			padding-left: 180px;
			margin-bottom: 30px;
		}
		div {
			padding: 35px;
			h3 {
				text-align: center;
				color: $fc-reverse;
				background: $brandColorGreen;
				padding: 15px;
			}
			.example-txt02 {
				margin-bottom: 10px;
			}
			.example-img {
				background: #fff;
				padding: 30px 28px 30px 27px;
			}
		}
	}
}

//media query start
@media (max-width: 1200px) {
}
@media (min-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
.kadai {
		h2 {
			padding: 3%;
		}
		h3 {
			padding: 30px;
		}
		ul {
			li {
				margin-bottom: 30px;
			}
		}
		dl {
			padding: 310px 20px 20px;
		}

		.example {
			padding-top: 20px;
			margin-bottom: 90px;
			background-size: contain;
			background: #e6f2e5;
			.example-txt01 {
				padding: 0 30px;
				margin-bottom: 0px;
				font-size: $fs-large;
			}
		}
	}
}
@media (max-width: 480px) {
	.kadai {
		h3 {
			font-size: $fs-large;
		}
		dl {
			.kadai-tit {
				span {
					padding: 6px 20px;
				}
			}
			.kadai-txt {
			}
			.service-tit {
				span {
					padding: 32px 22px 10px;
				}
			}
		}
		div {
			.example-img {
				background: #fff;
				padding: 10px;
				height: 340px;
				overflow: auto;
				img {
					height: 90%;
					width:auto;
				}
			}
		}
		.ryunyu {
			.ryunyu-img {
				background: #fff;
				padding: 10px;
				height: 340px;
				overflow: auto;
				img {
					height: 90%;
					width:auto;
				}
			}
		}
	}
}//media query end



/*==============================
featured
==============================*/
.featured {
	padding: 0 0 3%;
	@include ff-NotoSansLight;
	text-align: center;
	h2 {
		color: $fc-reverse;
		background: $brandColorNavy;
		text-align: center;
		padding: 3% 0;
		position: relative;
		margin-bottom: 70px;
		&:after {
			content: " ";
			background: url(../../img/arrow05.png) center top no-repeat;
			background-size: contain;
			display: block;
			width: 100%;
			height: 30px;
			position: absolute;
			bottom: -30px;
		}
	}
	.featured-txt01 {
		font-size: $fs-xxlarge;
	}
	.featured-txt02 {
		margin: 20px 0;
		span {
			background: $brandColorNavy;
			color: $fc-reverse;
			font-size: $fs-xxlarge;
			@include border-radius;
			padding: 3px 20px;
			margin: 0 10px;
		}
	}
	.featured-img {
		margin-top: 30px;
	}
}

//media query start
@media (max-width: 1200px) {
}
@media (min-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
	.featured {
		padding: 0 0 5%;
		h2 {
			margin-bottom: 30px;
		}
		.featured-txt01 {
			font-size: $fs-xlarge;
		}
		.featured-txt02 {
			span {
				font-size: $fs-large;
			}
		}
	}
}
@media (max-width: 480px) {
	.featured {
		padding: 0 0 5%;
		h2 {
			margin-bottom: 30px;
		}
		.featured-txt01 {
			font-size: $fs-xlarge;
		}
		.featured-txt02 {
			span {
				font-size: $fs-large;
				display: block;
				margin-bottom: 10px;
			}
		}
		.featured-img {
			background: #fff;
			padding: 10px;
			height: 340px;
			overflow: auto;
			margin-top: 10px;
			img {
				height: 90%;
				width:auto;
			}
		}
	}
}//media query end



/*==============================
flow
==============================*/
.flow {
	padding: 0 0 3%;
	@include ff-NotoSansLight;
	text-align: center;
	h2 {
		color: $fc-reverse;
		background: $brandColorBlue;
		text-align: center;
		padding: 3% 0;
		position: relative;
		margin-bottom: 70px;
		&:after {
			content: " ";
			background: url(../../img/arrow06.png) center top no-repeat;
			background-size: contain;
			display: block;
			width: 100%;
			height: 30px;
			position: absolute;
			bottom: -30px;
		}
	}
	.flow-img {
		margin-top: 30px;
	}
}

//media query start
@media (max-width: 1200px) {
}
@media (min-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
	.flow {
		h2 {
			margin-bottom: 30px;
		}
	}
}
@media (max-width: 480px) {
	.flow {
		.flow-img {
			background: #fff;
			padding: 10px;
			height: 340px;
			overflow: auto;
			margin-top: 10px;
			img {
				height: 90%;
				width:auto;
			}
		}
	}
}//media query end



/*==============================
company
==============================*/
.company {
	h2 {
		color: $fc-reverse;
		background: $companyColorSecond;
		text-align: center;
		padding: 3% 0;
		margin-bottom: 70px;
	}
	table {
		font-size: $fs-regular;
		width: 70%;
		margin: 0 auto 60px;
		th, td {
			border-bottom: solid 1px $borderColor;
			padding: 2%;
			vertical-align: top;
		}
	}
	a.inquiry {
		margin: 30px auto 100px;
		width: 50%;
	}
}

//media query start
@media (max-width: 1200px) {
}
@media (min-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 480px) {
	.company {
		.container {
			width: 90%;
		}
		table {
			width: 100%;
			th {
				display: block;
				width: 100%;
				float: left;
				*zoom: 1;
				background: #f2f2f2;
				border-bottom: none;
				&:after {
					content: "";
					display: block;
					clear: both;
					height: 0;
				}
			}
			td {
				display: block;
				width: 100%;
				float: left;
				padding: 2% 2% 5%;
			}
		}
		a.inquiry {
			width: 100%;
		}
	}
}//media query end



/*==============================
footer
==============================*/
.pagetop {
	position: fixed;
	width: 40px;
	bottom: 40px;
	right: 40px;
	z-index: 1600;
	@include opacity(0,0);
	@include transition(all 0.3s ease);
	img {
		width: 100%;
		height: auto;
	}
}
.pagetop-active {
	@include opacity(1,100);
}

footer {
	background: url(../../img/footer_bg.jpg) center top no-repeat;
	color: #fff;
	.copyright {
		text-align: center;
		font-size: $fs-small;
		background: $fc-hover;
		padding: 20px 0;
	}
}
.l-footer {
	padding: 5% 0;
	.mj-banner {
		text-align: center;
		@include ff-QuickSandBold;
		font-size: $fs-xlarge;
		background: #fff;
		width: 50%;
		margin: 0 auto;
		padding: 3% 5%;
		@include border-radius;
		.footer-logo {
			margin-bottom: 20px;
		}
	}
	a .mj-banner {
		color: #000;
		&:hover {
			@include opacity;
			@include transition(all 0.3s ease);
		}
	}
}

//media query start
@media (max-width: 1200px) {
}
@media (min-width: 992px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 480px) {
	.l-footer {
		.mj-banner {
			font-size: $fs-large;
			width: 80%;
			.footer-logo {
				margin-bottom: 10px;
			}
		}
	}
}//media query end



/*==============================
Landscape
==============================*/
@media (max-width: 768px) and (orientation: landscape){
}