@charset "utf-8";
// ============================
// 共通パーツ読み込み
// ============================
@import "_core";

// ============================
// ボタンモジュール
// ============================
%btn {
	@include border-radius(4px);
}

.btn-default {
	@extend %btn;
}

.btn-alert {
	@extend %btn;
}

.btn-success {
	@extend %btn;
}

.btn-system {
	@extend %btn;
}

