@charset "utf-8";
// ============================
// 共通パーツ読み込み
// ============================
@import "_core";

// ============================
// ステート（状態）スタイル
// 接頭辞に.is-を付けること
// ============================
.is-visible {
}

.is-hidden {
}

.is-active {
}