@charset "utf-8";
// ============================
// 共通パーツ読み込み
// ============================
@import "_variable";
// ====================================
// mixin
// ====================================

// calc
@mixin calc($property, $expression) { 
	#{$property}: -moz-calc(#{$expression}); 
	#{$property}: -o-calc(#{$expression}); 
	#{$property}: -webkit-calc(#{$expression}); 
	#{$property}: calc(#{$expression}); 
}

// border-radius
@mixin border-radius($radius:5px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin border-top-left-radius($radius:5px) {
  -webkit-border-top-left-radius: $radius;
      -moz-border-radius-topleft: $radius;
          border-top-left-radius: $radius;
}
@mixin border-top-right-radius($radius:5px) {
  -webkit-border-top-right-radius: $radius;
      -moz-border-radius-topright: $radius;
          border-top-right-radius: $radius;
}
@mixin border-bottom-right-radius($radius:5px) {
  -webkit-border-bottom-right-radius: $radius;
      -moz-border-radius-bottomright: $radius;
          border-bottom-right-radius: $radius;
}
@mixin border-bottom-left-radius($radius:5px) {
  -webkit-border-bottom-left-radius: $radius;
      -moz-border-radius-bottomleft: $radius;
          border-bottom-left-radius: $radius;
}

// opacity
@mixin opacity($opacity:0.5, $alpha:50) {
	opacity: $opacity;
	filter: alpha(opacity=$alpha);
	-ms-filter: "alpha(opacity=$alpha)";
}

// lineclamp
@mixin lineclamp ($line-height, $line-count, $bg-color:#fff, $content:".") {
  line-height: $line-height;
  height: ($line-height*$line-count)+em;
  position: relative;
  overflow: hidden;
  &:after {
    content: $content;
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    width: 6em;
    text-align: right;
    font-size: $fs-xsmall;
    color: #fff;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 82%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 82%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 82%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  }
}

// box-shadow
@mixin box-shadow($box-shadow:0px 0px 0px 0px rgba(0,0,0,0) ) {
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}

// font-family
@mixin ff-NotoSansLight($value:300) { 
	font-family: 'NotoSansLight', sans-serif;
	font-weight: $value;
}
@mixin ff-NotoSansMedium($value:500) { 
  font-family: 'NotoSansMedium', sans-serif;
  font-weight: $value;
}
@mixin ff-QuickSandBold($value:700) { 
	font-family: 'QuickSandBold', sans-serif;
	font-weight: $value;
}