@charset "utf-8";
// ====================================
// 共通で使う変数を設定
// ====================================
// font-size
$fs-xsmall: 0.625rem;//10px
$fs-small: 0.75rem;//12px
$fs-regular: 0.875rem;//14px
$fs-medium: 1rem;//16px
$fs-large: 1.125rem;//18px
$fs-xlarge: 1.5rem;//24px
$fs-xxlarge: 1.875rem;//30px
$fs-xxxlarge: 2.5rem;//40px


// color
$fc-base: #000000;
$fc-reverse: #fff;
$fc-link: #bf4520;
$fc-visited: #bf4520;
$fc-hover: #cf4c22;

// background-color
$bg-body: #fff;
$bg-reverse: #bf4520;

// etc
$base-line-height: 1.5;


// ============================
// メインコンテンツ幅を指定する
// ※ $side = $contentsWidth - $mainWidth - $contentsMargin
// ============================
$contentsWidth: px;
$mainWidth: px;
$contentsMargin: px;
$sideWidth: $contentsWidth - $mainWidth - $contentsMargin;


// ============================
// 共通カラーを指定する
// ※aタグは_base.scssへ
// ============================
$companyColor: #bf4520;
$companyColorSecond: #b2b1b1;

$brandColorOrange: #d8742a;
$brandColorYellow: #e1c73a;
$brandColorGreen: #3d9a39;
$brandColorBlue: #2b929c;
$brandColorNavy: #0d5494;
$brandColorPurple: #5d3480;
$brandColorPink: #ae7ca6;

$borderColor: #cdcdcd;
$borderColorSub: #eb6031;